<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title><%= h(yield(:title) || "Untitled") %></title>
    <%= stylesheet_link_tag 'application' %>
    <%= stylesheet_link_tag 'blueprint/screen.css', :media => 'screen, projection' %>
    <%= stylesheet_link_tag 'blueprint/print.css', :media =>'print' %>
    <!--[if lt IE 8]><link rel="stylesheet" href="/stylesheets/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
    <%= yield(:head) %>
    <meta name="description" content="Let Colleges compete for you." />
    <meta name="keywords" content="college, university, recruit, admission"/>
  </head>
  <body class="thebod">
    <div class="container tall">

      <div class="span-24 last top" > &nbsp; </div>

      <div class="span-15">
        <%= image_tag "/images/collegegoer_white.png" %>
      </div>
      <div class="span-6">
        <div class="flash">
          <%- flash.each do |name, msg| -%>
            <%= content_tag :div, msg, :id => "flash_#{name}" %>
          <%- end -%>
        </div>
      </div>
      <div class="span-3 last" > &nbsp; </div>

      <%= yield %>
    </div>

    <div class="footer">
      <div class="container">
        <div class="span-12">
          &copy; 2010 <%= link_to ApplicationController::Website_url, :controller => 'application' %>
          <br/>
        </div>
        <div class="span-12 last"/>
      </div>
    </div>

  </body>
</html>
